.artistbox{
	border: 1px solid #ccc;
	padding:10px;
	padding-bottom:5px;
	box-sizing:border-box;
	margin-top:30px;
}

.artistbox img{
	display:inline-block;
	max-width:150px;
	max-height:150px;
	margin-right:25px;

}

.artistbox h4{
	display:inline-block;
	font-size:28px;
	vertical-align:top;
	max-width:100%;
}

@media screen and (max-width:768px){
	.band-info{
		width:100%;
	}

	.band-info h1 {
		font-size: 30px;
		line-height: 33px;
		margin-bottom: 10px;
	}
}